# dependencies
/node_modules
package-lock.json
pnpm-lock.yaml
yarn.lock
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# build output
/lib
/dist
/out
/build

# TypeScript
*.tsbuildinfo
next-env.d.ts

# coverage
/coverage

# dependency directories
/.pnpm
/.yarn
/.yarn-cache

# dotenv environment variables file
.env
*.env*

# next.js build output
/.next
/out/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# logs
/logs
/logs.*

# intelliJ workspace folder
.idea

# vercel
.vercel

# netlify
.netlify

# vscode
.vscode
